<!-- extend base layout -->
<!-- to do:  get less preprocessor  -->
{% extends "base.html" %}
 
{% block content %}
  <head>
  <script src="../static/js/viz.js"></script>
  <div id="header">
      <div >
        <img id="headerimage" src="../static/img/visvocab.jpg">
      </div> 
      <div id="dividingline"></div>
        <div id="wordtext">
        </div>
    <div id="buttonpanel"> 
        <button class="verb colorkey"></button>
        <button class="conjunction colorkey"></button>
        <button class="pronoun colorkey"></button>
        <button class="preposition colorkey"></button>
        <button class="adverb colorkey"></button>
        <button class="synonyms colorkey"></button>
        <button class="instructions colorkey">?</button>
    </div>
    <div id="instructionsbox" class="hidden">

      This tool will analyze a paragraph for words that are among the 600 most commonly used in English.<br><br>

      Each black rectangle on the left represents a word in the set of the 600 of most common words, ordered by frequency of use, with the most common on top and the least on the bottom.  Mousing over a given rectangle will display the word it represents, and change its color to reflect its part of speech.<br><br>

      Clicking on a colored circle will highlight all of the words of associated part of speech. You'll know which part of speech you're looking at because a label will appear near the relevant circle to say if you're looking at adjectives, conjunctions, nouns, verbs, adverbs, or prounouns.  You have the option to remove from the set words which have no synonyms.<br><br>

      To submit a paragraph for vocabulary analysis, type into into the text box and hit submit.  Words in your paragraph that are in the most common set will be highlighted in the array of rectangles and in your paragraph. 

    </div>
    </div>

  <div id="wordContainer">
    <div id="wordSquares"></div>
  </div> 
  <script>
      $(".instructions").on("click", function(){
          $("#instructionsbox").toggleClass("hidden");
          console.log("hidden");
        });
      $(".rectangle").mouseover(function() {
          var classNames = $(this).attr("class").split(" ");
          var word = classNames[2];
          $("#wordtext").text(word)
        })

  </script>

  <div  id="corpusform">
  <div>
  <textarea maxlength="200" cols="200" id="inputBox" class="shadow" method="POST"></textarea>
  <button type="submit" id="submittext">submit</button>
  </div>
  </div>
  <div id="paragraph">
blah blah blah 
  </div>
  <div id="analysis">
  </div>
  <script src="{{ url_for('static', filename='../static/js/viz.js') }}"></script>
  
  {% endblock %}